:root {
  --bg: #F7F3EA;          /* warm off-white */
  --alt-bg: #666;          /* warm off-white */
  --text: #333;        /* deep navy */
  --highlight: #D9ECFF;   /* pale blue marker swipe */
  --primary: #1E40AF;     /* button blue */
  --muted: #6F6F80;
}


body.preload *{
animation-duration: 0s !important;
-webkit-animation-duration: 0s !important;
transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}


* {
  box-sizing: border-box;
}

body {
  font-family: "Gabarito", sans-serif;
	background-color: var(--bg);
	color: var(--text);
	border: 0px solid red;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	height: 100%;
	font-size: 22px;
	line-height: 1em;
}



li {margin-bottom: 10x;}

a {text-decoration: none; color: var(--text);}

.pagestructure {
display: flex;
justify-content: center;
align-items: center;
border: 0px solid green;
height: 100%;
}

.pagestructuretop {
position: relative;
display: block;
}

.pagestructure > div, .pagestructuretop > div  {
width: 90%;
max-width: 800px;
margin: auto;
border: 0px solid blue;
}

.pagename {
	text-align: center;
	font-family: "Special Elite", system-ui;
	color: #888;
	font-size: .8em;
	display: block;
	width: 100%;
	border-bottom: 0px solid #999;
}

.pagetitle {font-size: 26px;}

.gametitle {
text-align: center;
margin-bottom: 20px;
padding: 20px 40px;
font-family: "Special Elite", system-ui;
margin: 20px auto;
font-size: 40px;
color: var(--alt-bg)
}


@media screen and (max-width: 600px) {
.gametitle {font-size: 28px; margin-top: 0px;}
}