body.preload *{
animation-duration: 0s !important;
-webkit-animation-duration: 0s !important;
transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}


.about-page p, .about-page li {font-size: 18px;}

.title-large {font-size: 40px;}
.title-small {font-size: 20px;}



.tilestructure {

display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 30px;
justify-content: center;
padding-bottom: 50px;
}

.tile {
border: 0px solid red;
flex: 0 0 calc(50% - 30px);
border-radius: 10px;
background-color: #fff;
padding: 0px;
  box-shadow: 1px 1px 3px #aaa;
}


.tiletitle {
font-size: 24px;
margin-bottom: 20px;
text-align: center;
border-radius: 10px 10px 0px 0px;
padding: 15px;
background-color: var(--primary);
color: #fff;
text-transform: uppercase;
}

.tileblurb {
margin: 20px 20px;
display: block;
}

.tileimage {
float: left; 
width: 70px; 
margin-right: 20px; 
margin-bottom: 10px;
}


.tilesubblurb {
font-size: .8em; 
color: var(--muted); 
line-height: 1em; 
margin-top: 7px;
}





.footer {
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
border: 0px solid red;
background-color: var(--alt-bg);
font-size: 16px;
padding: 5px;
color: var(--bg);
}

.footer-claim {
margin: 0px 6px;
}




@media screen and (max-width: 600px) {
.tile {flex: 0 0 90%;}
.footer {font-size: 14px;}
.footer-claim {margin: 0px 4px;}
.title-large{font-size: 30px;}
.title-small{font-size: 15px;}

}

