body.preload *{
animation-duration: 0s !important;
-webkit-animation-duration: 0s !important;
transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

:root {
  --bg: #F7F3EA;          /* warm off-white */
  --alt-bg: #ccc;          /* warm off-white */
  --text: #102A43;        /* deep navy */
  --headline: #0B5CAD;    /* confident blue */
  --highlight: #D9ECFF;   /* pale blue marker swipe */
  --primary: #1E88E5;     /* button blue */
  --primary-dark: #1565C0;
  --surface: #FFFFFF;
  --muted: #52616B;
}



* {
  box-sizing: border-box;
}

body {
  font-family: "Gabarito", sans-serif;
	background-color: var(--bg);
	color: var(--text);
	border: 0px solid red;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	height: 100%;
	font-size: 22px;
	overflow: hidden;
	line-height: 1em;
}





a {text-decoration: none; color: #1b407d;}

.pagestructure {
display: flex;
justify-content: center;
align-items: center;
border: 0px solid green;
height: 100%;
}

.pagestructure > div {
width: 90%;
max-width: 800px;
border: 0px solid blue;
}

.pagename {
	text-align: center;
	font-family: "Special Elite", system-ui;
	color: #888;
	font-size: .8em;
	display: block;
	width: 100%;
	border-bottom: 0px solid #999;
}


.tilestructure {

display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 10px;
}

.tile {
border: 0px solid red;
flex: 0 0 calc(50% - 10px);
border-radius: 10px;
background-color: var(--primary-dark);
padding: 20px;
color: var(--bg);
}


.tiletitle {
font-size: 30px;
margin-bottom: 20px;
text-align: center;
}



.footer {
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
border: 0px solid red;
background-color: var(--alt-bg);
font-size: 16px;
padding: 5px;

}
