

body {
  font-family: "Nunito", sans-serif;
	font-size: 20px;
	background-color: #EBF7FA;
	border: 0px solid red;
	margin: 0px;
	padding: 0px;
	line-height: 1.2em;
	height: 100%;
	color: #545454;
}






a {text-decoration: none; color: #1b407d;}

.pagestructure {
border: 0px solid green;
margin-top: 30px;
}

.pagestructure > div {
width: 90%;
max-width: 800px;
border: 0px solid blue;
margin: auto;
}

.pagename {
	font-family: "Special Elite", system-ui;
text-align: center;
font-size: 26px;
display: block;
line-height: 60px;
margin-bottom: 30px;
text-transform: lowercase; 
color: #888;
}




.headline-list{position: relative;  overflow: hidden;}
.whatif-headline { font-size: 32px; height: 50px; position: relative;}
.whatif-headline > div { width: 90%; margin: auto;}

.whatif-scenario {}

.whatif-question {color: peru; font-weight: bold;}

.whatif-discussion {margin-top: 30px; font-size: .8em;}

.whatif-followup {font-size: .9em;}
.whatif-followup li {margin-bottom: 5px;}


.toggle:hover {cursor: pointer;}

#headline-outline {
	border: 2px solid black;
}
.choices-outline {
	display: flex;
	width: 100%;
}
.choices-outline > div{
	flex: 1;
	text-align: center;
}

#button-readmore, #button-spin {padding: 10px;}
#button-readmore {background-color: blue; color: #fff;}
#button-spin {background-color: green; color: #fff;}

.turnoffbutton {opacity: .2; pointer-events: none; }





.content_inside {
background-color: #fff;
border: 1px solid #545454;
border-radius: 10px;
padding: 30px;
margin-top: 20px;
}
#contentpanel {
    overflow: hidden;
    height: 0;
    transition: height 250ms ease;
}






















/* The animation code */
@keyframes startroll {
  from {top: -1200px;}
  to {top: 0px;}
}

.startanimation {top: 0px;
  animation: startroll 1.5s forwards;
  animation-timing-function: ease-out;
}




